# Paksa semua file .php dianggap PHP
*.php linguist-language=PHP

# Abaikan semua file yang bukan kode logika
img/** linguist-vendored
vendor/** linguist-vendored
*.css linguist-vendored
*.js linguist-vendored
*.html linguist-vendored

# Opsional: abaikan semua folder interface
admin/** linguist-vendored
customer/** linguist-vendored
dashboard/** linguist-vendored
service/** linguist-vendored
