# Abaikan folder gambar
img/** linguist-vendored

# Abaikan file CSS, JS, HTML (jika ada)
*.css linguist-vendored
*.js linguist-vendored
*.html linguist-vendored

# Abaikan semua file di folder non-logika
dashboard/** linguist-vendored
customer/** linguist-vendored
admin/** linguist-vendored
service/** linguist-vendored

# Jika pakai vendor dari composer, abaikan juga
vendor/** linguist-vendored
